* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    --bg: #0e121a;
    --bg-box: #333;
    --bg-panel: #EBEBEB;
    --color-headings: #43E7AD;
    --color-text: #fff;
}

:root {
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--bg);
    
}

header {
    height: 10rem;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0e121a;
    border-bottom: 2px solid #333;

    animation: fromTop 1s;

}

#logo {
    color: #fff;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Rock Salt', cursive;
}

#menu {
    display: flex;
    list-style: none;
    gap: 1rem;
}


#menu a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 1.8rem;
    transition: .4s;

    font-weight: bold;
    padding: .5rem;
}

#menu a:hover {
    opacity: .7;
}

#btn-mobile {
    display: none;
}

@media (max-width: 1300px) {

    #btn-mobile {
        display: block;
    }

    #menu {
        position: absolute;
        width: 100%;
        margin-top: 5rem;
        margin-bottom: 3rem;
        background: #0e121a;
        right: 0rem;
        display: block;
        height: 0px;
        z-index: 1000;

        transition: .4s;
        visibility: hidden;
        overflow-y: hidden;
        font-size: 1.5rem;
    }

    #nav.active #menu {
        display: block;
        height: 20rem;
        visibility: visible;
        overflow-y: auto;
    }

    #menu p {
        padding-bottom: 3rem;
        margin-left: 1rem;
        text-align: center;
        font-size: 1.2rem;
    }

    #menu a {
        padding: 1rem 0;
        margin: 0rem 1rem;
        text-align: center;
    }

    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        color: #fff;
        font-size: 2rem;

    }

    #hamburger {
        border-top: 2px solid;
        width: 20px;
        margin-left: 2rem;
        justify-content: center;
    }
    #hamburger::after,
    #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
    }
    #nav.active #hamburger {
        border-top-color: transparent;
    }
    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }
    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}

/*ABOUT ME*/

.about-me {
    max-width: 100rem;
    width: 90%;

    background-color: var(--bg-box);
    border-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #e25cc0 100%) 30;
    border-width: 4px;
    border-style: solid;

    margin: auto;
    
    gap: 24px;
    margin-top: 32px;
}

.about-me img {
    width: 16rem;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #e25cc0 100%);
    border-radius: 50%;
    padding: 4px;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 2rem;
    padding: 2rem 0;
}

p {
    text-align: center;
    margin: 1rem 1rem;
    font-size: 1.6rem;
}

.about-me, .exp, .tech, .contact {
    color: var(--color-text);
    text-align: center;
    animation: fromBottom 1s;
}

/*EXP*/

.exp {
    max-width: 100rem;
    width: 90%;

    background-color: var(--bg-box);
    border-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #e25cc0 100%) 30;
    border-width: 4px;
    border-style: solid;

    margin: auto;
    gap: 24px;
    margin-top: 32px;
}

.exp button {
    width: 22rem;
    background-color: #333;
    border: 2px  solid #9572FC;
    border-radius: .6rem;
    padding: 1rem;
    margin: 2rem 1rem;
    cursor: pointer;
    text-align: center;

    transition: .5s;
}

.exp button a {
    color: #fff;
    text-decoration: none;
    font-size: 1.6rem;
    transition: .5;
}

.exp button:hover {
    opacity: .8;
}

@media (max-width: 1300px) {
    .exp button {
        margin-bottom: 1rem;
    }
}

/*TECH*/

.tech {
    max-width: 100rem;
    width: 90%;

    background-color: var(--bg-box);
    border-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #e25cc0 100%) 30;
    border-width: 4px;
    border-style: solid;

    margin: auto;
    gap: 24px;
    margin-top: 32px;
}

.tech i, .contact i {
    font-size: 5rem;
    margin: 2rem;
    cursor: pointer;
}

.tech i:hover, .contact i:hover {
    opacity: .8;
}

.fa-html5 {
    color: #e34c26;
}

.fa-css3-alt {
    color: #264de4;
}

.fa-js {
    color: #f0db4f;
}

.fa-node-js {
    color: #68a063;
}

.fa-square-git {
    color: #f34f29;
}

.fa-square-github {
    color: #ec40d1;
}

/*CONTACT*/
.contact {
    max-width: 100rem;
    width: 90%;

    background-color: var(--bg-box);
    border-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #e25cc0 100%) 30;
    border-width: 4px;
    border-style: solid;

    margin: auto;
    gap: 24px;
    margin-top: 32px;
}

.fa-envelope {
    color: var(--color-text);
}

.fa-linkedin {
    color: #0077b5;
}

.fa-discord {
    color: #5865F2;
}

.fa-react {
    color: #61dbfb;
}


/*DARK MODE*/

.toggle {
    margin: 2rem 2rem;
}


input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    text-indent: -9999px;
    width: 5.2rem;
    height: 2.7rem;
    background: #9572FC;
    float: right;
    border-radius: 100px;
    position: relative;
}

label::after{
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 90px;
    transition: 0.3s;
}

input:checked + label {
    background-color: var(--color-headings);
}

input:checked + label::after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

label:active:after {
    width: 45px;
}


@keyframes fromTop {
    from {
        opacity: 0;
        transform: translateY(-30px)
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fromBottom {
    from {
        opacity: 0;
        transform: translateY(30px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

